{% extends "::base.html.twig" %}

{% block title %}FollowMeBundle:Gestion:index{% endblock %}

{% block body %}
<h1>Welcome to the Gestion:index page</h1>

      
 {% for error in form.vars.errors %}
     
 <div class="list-group">
 	<a href = "#" class="list-group-item list-group-item-action> </a>             
                    
    {{ date.getuser_mail() }}                
    {{ date.getuse_pswd() }}                  
                    

 (% if is_granted(ROLE_SUPER_ADMIN') %)
	<div class="col-xs-4 text-center">
		<a class="btn-btn-danger glyphicon glyphicon-remove"
		href="{{ path('gestion_user',{'id':user.getUserId() }) }}"></a>
	</div>
  {%endif}
  
{% endfor %}
  
	<div>
	<div class="col-xs-4-text-center">
		{{ page }}
	</div>	
	
	
	
{% endblock %}
