{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Follow Me{% endblock %}

{% block body %}
<h1>Follow Me</h1>

{{ render_esi(controller('FollowMeBundle:Main:banner')) }}

{% endblock %}
