
<div class="input-group container-fluid col-xs-10"> 
    {{ form_label(form.confirm) }}
    {{ form_errors(form.confirm) }}
</div>
 <div class="input-group container-fluid col-xs-10">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    {{ form_widget(form.confirm) }}
</div>