
{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}

        {% if form.vars.errors|length > 0 %}

        <div class="alert alert-danger container-fluid col-xs-6 col-xs-offset-1" >				
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                &times;
            </a>
            <strong>
                {% for error in form.vars.errors %}
                    <strong>{{ error.message|trans|capitalize }}</strong>
                {% endfor %}
            </strong>
        </div>

        {% endif %}

    {% endspaceless %}

{% endblock form_errors %}



